<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: common-header"/>
<body id="kt_body" class="quick-panel-right demo-panel-right offcanvas-right header-fixed header-mobile-fixed aside-enabled aside-static page-loading">
<!--begin::Main-->
<!--begin::Header Mobile-->
<div th:replace="fragments/common :: mobile-header"/>
<!--end::Header Mobile-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            <!--begin::Header-->
            <div th:replace="fragments/common :: header"/>
            <!--end::Header-->
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Entry-->
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">
                        <!--begin::Dashboard-->
                        <!--begin::Row-->
                        <div class="row">
                            <div class="col-xl-4">
                                <!--begin::Engage Widget 8-->
                                <div class="card card-custom gutter-b card-stretch card-shadowless">
                                    <div class="card-body p-0 d-flex">
                                        <div class="d-flex align-items-start justify-content-start flex-grow-1 bg-light-warning p-8 card-rounded flex-grow-1 position-relative">
                                            <div class="position-absolute right-0 bottom-0 mr-5 overflow-hidden">
                                                <img src="https://preview.keenthemes.com/metronic/theme/html/demo5/dist/assets/media/svg/humans/custom-12.svg" class="max-h-200px max-h-xl-275px mb-n20" alt="" />
                                            </div>
                                            <div class="d-flex flex-column align-items-start flex-grow-1 h-100">
                                                <div class="p-1 flex-grow-1">
                                                    <h4 class="text-warning font-weight-bolder">Bienvenue</h4>
                                                    <p class="text-dark-50 font-weight-bold mt-3"><span th:text="${user.firstname}"> </span> <span th:text="${user.lastname}"></span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Engage Widget 8-->
                            </div>
                            <div class="col-xl-8">
                                <!--begin::Nav Panel Widget 1-->
                                <div class="card card-custom gutter-b card-stretch card-shadowless">
                                    <!--begin::Body-->
                                    <div class="card-body p-0">
                                        <!--begin::Nav Tabs-->
                                        <ul class="dashboard-tabs nav nav-pills nav-danger row row-paddingless m-0 p-0 flex-column flex-sm-row" role="tablist">
                                            <!--begin::Item-->
                                            <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
                                                <a class="nav-link border py-10 d-flex flex-grow-1 rounded flex-column align-items-center" data-toggle="pill" href="#tab_forms_widget_2">
															<span class="nav-icon py-2 w-auto">
																<span class="svg-icon svg-icon-3x">
																	<!--begin::Svg Icon | path:/metronic/theme/html/demo5/dist/assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24" />
																			<rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
																			<path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />
																		</g>
																	</svg>
                                                                    <!--end::Svg Icon-->
																</span>
															</span>
                                                    <span class="nav-text font-size-lg py-2 font-weight-bolder text-center">Categories</span>
                                                    <span class="nav-text font-size-lg py-2 font-weight-bolder text-center" th:text="${categorySize}"></span>
                                                </a>
                                            </li>
                                            <!--end::Item-->
                                            <!--begin::Item-->
                                            <li class="nav-item d-flex col flex-grow-1 flex-shrink-0 mr-3 mb-3 mb-lg-0">
                                                <a class="nav-link active border py-10 d-flex flex-grow-1 rounded flex-column align-items-center" data-toggle="pill" href="#tab_forms_widget_3">
															<span class="nav-icon py-2 w-auto">
																<span class="svg-icon svg-icon-3x">
																	<!--begin::Svg Icon | path:/metronic/theme/html/demo5/dist/assets/media/svg/icons/Media/Equalizer.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24" />
																			<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
																			<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
																			<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
																			<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
																		</g>
																	</svg>
                                                                    <!--end::Svg Icon-->
																</span>
															</span>
                                                    <span class="nav-text font-size-lg py-2 font-weight-bolder text-center">Courses</span>
                                                    <span class="nav-text font-size-lg py-2 font-weight-bolder text-center" th:text="${purchaseSize}"></span>
                                                </a>
                                            </li>
                                            <!--end::Item-->
                                        </ul>
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--begin::Nav Panel Widget 1-->
                            </div>
                        </div>
                        <!--end::Row-->
                        <!--begin::Row-->
                        <div class="row">
                            <div class="col-xl-6">
                                <!--begin::Advance Table Widget 2-->
                                <div class="card card-custom gutter-b card-stretch card-shadowless bg-light">
                                    <!--begin::Header-->
                                    <div class="card-header border-0 pt-5">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="card-label font-weight-bolder text-dark">10 dernieres courses</span>
                                        </h3>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Body-->
                                    <div class="card-body pt-2 pb-0 mt-n3">
                                        <div class="tab-content mt-5" id="myTabTables11">
                                            <!--begin::Tap pane-->
                                                <!--begin::Table-->
                                                <div class="table-responsive">
                                                    <table class="table table-borderless table-vertical-center">
                                                        <thead>
                                                        <tr>
                                                            <th class="p-0 w-40px"></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr data-th-each="eachPurchase : ${tenLastPurchaseByDate}">
                                                            <td class="pl-0 py-4">
                                                                <div class="symbol symbol-50 symbol-light">
                                                                    <span class="symbol-label">
                                                                        <img src="https://preview.keenthemes.com/metronic/theme/html/demo5/dist/assets/media/svg/misc/003-puzzle.svg" class="h-50 align-self-center" alt="" />
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td class="pl-0">
                                                                <span class="font-weight-bolder" th:text="${eachPurchase.title}">Email:</span>
                                                                <br>
                                                                <a class="text-muted font-weight-bold text-hover-primary"  th:text="${eachPurchase.description}">company@dev.com</a>
                                                            </td>
                                                            <td class="text-right">
                                                                <span class="label label-lg label-light-success label-inline" th:text="${#numbers.formatDecimal(eachPurchase.total, 0, 'COMMA', 2, 'POINT')}">Success</span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--end::Table-->
                                            <!--end::Tap pane-->
                                            <!--end::Tap pane-->
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--end::Advance Table Widget 2-->
                            </div>
                            <div class="col-xl-6">
                                <!--begin::Advance Table Widget 2-->
                                <div class="card card-custom bg-light-success gutter-b card-stretch card-shadowless">
                                    <!--begin::Header-->
                                    <div class="card-header border-0 pt-5">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="card-label font-weight-bolder text-dark">Top 10 courses cheres</span>
                                        </h3>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Body-->
                                    <div class="card-body pt-2 pb-0 mt-n3">
                                        <div class="tab-content mt-5" id="myTabTables12">
                                            <!--begin::Tap pane-->
                                            <!--begin::Table-->
                                            <div class="table-responsive">
                                                <table class="table table-borderless table-vertical-center">
                                                    <thead>
                                                    <tr>
                                                        <th class="p-0 w-40px"></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr data-th-each="eachPurchase : ${topTenPurchaseByTotal}">
                                                        <td class="pl-0 py-4">
                                                            <div class="symbol symbol-50 symbol-light">
                                                                    <span class="symbol-label">
                                                                        <img src="https://preview.keenthemes.com/metronic/theme/html/demo5/dist/assets/media/svg/misc/003-puzzle.svg" class="h-50 align-self-center" alt="" />
                                                                    </span>
                                                            </div>
                                                        </td>
                                                        <td class="pl-0">
                                                            <span class="font-weight-bolder" th:text="${eachPurchase.title}">Email:</span>
                                                            <br>
                                                            <a class="text-muted font-weight-bold text-hover-primary" th:text="${eachPurchase.description}">company@dev.com</a>
                                                        </td>
                                                        <td class="text-right">
                                                            <span class="label label-lg label-light-success label-inline" th:text="${#numbers.formatDecimal(eachPurchase.total, 0, 'COMMA', 2, 'POINT')}">Success</span>
                                                        </td>
                                                        <td class="text-right">
                                                            <span class="label-inline" th:text="${eachPurchase.date}">Success</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!--end::Table-->
                                            <!--end::Tap pane-->
                                            <!--end::Tap pane-->
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--end::Advance Table Widget 2-->
                            </div>
                        </div>

                        <!--end::Dashboard-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->
            </div>
            <!--end::Content-->
            <!--begin::Footer-->
            <div th:replace="fragments/common :: footer"/>
            <!--end::Footer-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Main-->
<div th:replace="fragments/common :: body-bottom-scripts"/>
</body>

</html>